@import '../../scss/variables';
@import '../../scss/mixins';
// @import '~bootstrap/scss/bootstrap-reboot';

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  background: $space-grey;
  &__element {
    width: 30px;
    height: 30px;
    border: 4px solid $orange;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    animation: spin 1s linear infinite;
  }
}

// Bootstrap Media Queries
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
