extends ../templates/page/page
include ../components/welcome/welcome
include ../components/header/header
include ../components/about/about
include ../components/works/works
include ../components/contact/contact
include ../components/to-top-button/to-top-button
include ../components/preloader/preloader

block head
  - const pageTitle = "Portfoio";
  - const pageDescription = "";
  - const pageKeywords = "portfolio";

block content
  //- +welcome({
  //-   message: 'Welcome! <br/> Happy coding!'
  //- })
  +header
  +about
  +works
  +contact
  +to-top-button
  +preloader
