extends ../templates/page/page
include ../components/welcome/welcome
include ../components/header/header

block head
  - const pageTitle = "Portfoio";
  - const pageDescription = "";
  - const pageKeywords = "portfolio";

block content
  //- +welcome({
  //-   message: 'Welcome! <br/> Happy coding!'
  //- })
  +header
