mixin contact(props = {})
  - const {  } = props;

  .contact
    .contact__wrapper.wrapper
      //- h3.contact__headline Contact
      h3.contact__headline Контакты
      hr.contact__splitter
      .contact__links-container
        a.contact__link.contact__telegram(href="https://t.me/dmitrytravnikov" target="_blank") Telegram &UpperRightArrow;
        p.contact__link.contact__discord(href="#") Discord: travnikov#6305
        p.contact__link.contact__skype(href="#") Skype: travnikov.skype
