$font-path: '../fonts/';

// @font-face {
// 	font-family: 'font-name';
// 	src: url('#{$font-path}font-name.eot') format('eot'),
// 			url('#{$font-path}font-name.ttf') format('truetype'),
// 			url('#{$font-path}font-name.woff2') format('woff2'),
// 			 url('#{$font-path}font-name.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
  font-family: 'Inter-Bold';
  src: url('#{$font-path}Inter-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('#{$font-path}Inter-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('#{$font-path}Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('#{$font-path}Inter-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
